# EmailJS - https://www.emailjs.com
# Crea una cuenta, luego un Email Service y una Email Template.
# Copia los IDs en tu archivo .env local (NO commitear .env).

VITE_EMAILJS_SERVICE_ID=service_unajtbl
VITE_EMAILJS_TEMPLATE_ID=template_ugysjzf
VITE_EMAILJS_PUBLIC_KEY=goN5kvujChEsKrTfa
